@import './shared.scss';

#client {
  padding-top: 4rem;
  height: 100%;
  width: 80%;
  margin: auto;
  .taskList {
    height: 60%;
    overflow-y: auto;
    .task {
      @include round(0.25rem, 0.25rem);
      display: flex;
      align-items: center;
      background-color: #eee;
      margin: 0 0.25rem 0.25rem;
      padding: 1rem;
      .taskTitle {
        flex: 0 0 50%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 2rem;
        line-height: 2rem;
        margin: 0 0 0 1rem;
      }
      .control.group {
        flex: 1 1 auto;
      }
    }
  }
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .control {
    margin: 1rem 0;
    width: 100%;
    max-width: calc(2rem * 12);
  }
}

#newTaskForm {
  position: absolute;
  transition: $app-transition;
  transition-property: all;
  opacity: 0;
  transform: scale(0);
  top: 5vh;
  bottom: 5vh;
  left: 5vw;
  right: 5vw;
  z-index: 98;
  width: unset;
  background-color: white;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #0009;
    top: -15vh;
    bottom: -15vh;
    left: -15vw;
    right: -15vw;
  }
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &.active {
    opacity: 1;
    transform: scale(1);
  }
  .control * {
    flex: 1 1 auto;
  }
}

@media screen and (max-aspect-ratio: 5/6) {
  #client {
    width: 100%;
  }
}
