<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>TaskApp</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <link rel="shortcut icon" href="/hosted/assets/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/hosted/app.css"/>
</head>
<body>  
  {{{body}}}
</body>
</html>